In [1]:
google_API = 'AIzaSyAisnwTIsxe0xt-BYi-P94c9kYdftOxfr4'

In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\sumat\anaconda3\lib\site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sumat\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\sumat\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\sumat\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.25 in c:\users\sumat\anaconda3\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\sumat\anaconda3\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sumat\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sumat\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sumat\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sumat\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sumat\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sumat\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sumat\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sumat\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sumat\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\sumat\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: numpy>=1.18 in c:\users\sumat\anaconda3\lib\site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\sumat\anaconda3\lib\site-packages (from statsmodels) (1.11.4)
Requirement already satisfied: pandas>=1.0 in c:\users\sumat\anaconda3\lib\site-packages (from statsmodels) (2.1.4)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sumat\anaconda3\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\sumat\anaconda3\lib\site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sumat\anaconda3\lib\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sumat\anaconda3\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sumat\anaconda3\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\sumat\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\sumat\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: numpy in c:\users\sumat\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\sumat\anaconda3\lib\site-packages (from xgboost) (1.11.4)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install googlemaps

Requirement already satisfied: googlemaps in c:\users\sumat\anaconda3\lib\site-packages (4.10.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\sumat\anaconda3\lib\site-packages (from googlemaps) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sumat\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sumat\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sumat\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sumat\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2024.6.2)

In [8]:
pip install holidays

Requirement already satisfied: holidays in c:\users\sumat\anaconda3\lib\site-packages (0.65)
Requirement already satisfied: python-dateutil in c:\users\sumat\anaconda3\lib\site-packages (from holidays) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sumat\anaconda3\lib\site-packages (from python-dateutil->holidays) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install geopy

Requirement already satisfied: geopy in c:\users\sumat\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\sumat\anaconda3\lib\site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install ephem

Requirement already satisfied: ephem in c:\users\sumat\anaconda3\lib\site-packages (4.1.6)
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install meteostat

Requirement already satisfied: meteostat in c:\users\sumat\anaconda3\lib\site-packages (1.6.8)
Requirement already satisfied: pandas>=1.1 in c:\users\sumat\anaconda3\lib\site-packages (from meteostat) (2.1.4)
Requirement already satisfied: pytz in c:\users\sumat\anaconda3\lib\site-packages (from meteostat) (2023.3.post1)
Requirement already satisfied: numpy in c:\users\sumat\anaconda3\lib\site-packages (from meteostat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sumat\anaconda3\lib\site-packages (from pandas>=1.1->meteostat) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sumat\anaconda3\lib\site-packages (from pandas>=1.1->meteostat) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sumat\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.1->meteostat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install requests

Requirement already satisfied: requests in c:\users\sumat\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sumat\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sumat\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sumat\anaconda3\lib\site-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sumat\anaconda3\lib\site-packages (from requests) (2024.6.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.linear_model import LinearRegression, LogisticRegression, Lasso, LassoCV
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import SequentialFeatureSelector

from sklearn.ensemble import RandomForestRegressor

#one-hot encoding
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor #VIF

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay

from sklearn.svm import SVC

import xgboost as xgb

#Cartesian join
from itertools import product

In [2]:
import googlemaps
import holidays
import requests
import json
from geopy.geocoders import Nominatim

import ephem
from datetime import datetime, timedelta, date

from meteostat import Daily, Point, Stations

Holidays and Events

In [451]:
#Import manual holidays and events
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\Holidays_Events.xlsx'
manual_holidays_df = pd.read_excel(file_path)

manual_holidays_df["Date"] = pd.to_datetime(manual_holidays_df["Date"])

manual_holidays_df.head()

        Date                  Holiday
0 2022-05-17  International Roadcheck
1 2022-05-18  International Roadcheck
2 2022-05-19  International Roadcheck
3 2023-05-16  International Roadcheck
4 2023-05-17  International Roadcheck

In [452]:
#import holidays from holidays library
# Define US holidays for multiple years
us_holidays = holidays.US(years=[2022, 2023, 2024, 2025])  

# Convert holidays to DataFrame
holidays_df = pd.DataFrame(list(us_holidays.items()), columns=['Date', 'Holiday'])

# Ensure Date column is in datetime format
holidays_df['Date'] = pd.to_datetime(holidays_df['Date'])

holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     48 non-null     datetime64[ns]
 1   Holiday  48 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 900.0+ bytes

In [453]:
#Append manual holidays to the existing holiday DataFrame
holidays_df = pd.concat([holidays_df, manual_holidays_df], ignore_index=True)

# Sort by date
holidays_df = holidays_df.sort_values("Date").reset_index(drop=True)
holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     88 non-null     datetime64[ns]
 1   Holiday  88 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 1.5+ KB

In [454]:
# Extract year and ISO week number
holidays_df['h_ISO_year'] = holidays_df['Date'].dt.isocalendar().year 
holidays_df['h_week_number'] = holidays_df['Date'].dt.isocalendar().week 

# Drop duplicates to keep one row per week (if necessary)
holidays_df = holidays_df.drop_duplicates(subset=['h_ISO_year', 'h_week_number'])

holidays_df.head()

        Date                     Holiday  h_ISO_year  h_week_number
0 2022-01-01              New Year's Day        2021             52
1 2022-01-17  Martin Luther King Jr. Day        2022              3
2 2022-02-21       Washington's Birthday        2022              8
3 2022-05-17     International Roadcheck        2022             20
6 2022-05-30                Memorial Day        2022             22

In [455]:
holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58 entries, 0 to 87
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           58 non-null     datetime64[ns]
 1   Holiday        58 non-null     object
 2   h_ISO_year     58 non-null     UInt32
 3   h_week_number  58 non-null     UInt32
dtypes: UInt32(2), datetime64[ns](1), object(1)
memory usage: 1.9+ KB

Import CH file

In [456]:
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\2_CH Robinson data original.xlsx'
ch_df = pd.read_excel(file_path, sheet_name='Cleaned data')

ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,Weight,Pallets,Linehaul/ Shipment,Fuel/ Shipment
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103-1007,Los Angeles,CA,90040,4500146296,39486.0,16.000000,4500.00,2168.34
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103-1007,ATLANTA,GA,30360,44714,40846.0,19.000000,2548.99,820.40
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103-1007,Charlotte,NC,28273,47121,32202.0,14.805517,2652.24,641.90
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103-1007,ATLANTA,GA,30360,ALLA1623/45125,39363.0,18.097931,3700.00,NaN
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103-1007,CHARLESTON,SC,29492,ALG113022/182985,37834.0,17.394943,3452.46,782.60

In [457]:
#trim
ch_df['Drop Zip'] = ch_df['Drop Zip'].astype(str).str[:5]

ch_df['Pick Zip'] = ch_df['Pick Zip'].astype(str).str[:5]

In [458]:
ch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ship Date              1332 non-null   datetime64[ns]
 1   Primary Load Number    1332 non-null   int64
 2   Mode (Load Execution)  1332 non-null   object
 3   Pick City              1332 non-null   object
 4   Pick State             1332 non-null   object
 5   Pick Zip               1332 non-null   object
 6   Drop City              1332 non-null   object
 7   Drop State             1332 non-null   object
 8   Drop Zip               1332 non-null   object
 9   Ref: Billto            1331 non-null   object
 10  Weight                 1332 non-null   float64
 11  Pallets                1332 non-null   float64
 12  Linehaul/ Shipment     1331 non-null   float64
 13  Fuel/ Shipment         1324 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(8)
memory usage: 145.8+ KB

Invalid drop zip code

In [459]:
test_df = ch_df[ch_df['Drop Zip'] == '08892']
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,Weight,Pallets,Linehaul/ Shipment,Fuel/ Shipment
1187,2024-10-23,492865573,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08892,AL101124CR,38058.0,17.0,1010.00,NaN
1236,2024-11-18,495989564,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08892,AL110424CR,33203.0,15.0,1010.00,NaN
1324,2025-01-09,500923863,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08892,AL122724CR,43310.0,20.0,899.49,177.0

In [ ]:
#Replace 
ch_df['Drop Zip'] = np.where(ch_df['Drop Zip'] == '08892', '08852', ch_df['Drop Zip'])

ch_df['Drop Zip'] = np.where(ch_df['Drop Zip'] == '32828', '32808', ch_df['Drop Zip'])
ch_df['Drop Zip'] = np.where(ch_df['Drop Zip'] == '94801', '94804', ch_df['Drop Zip'])

Check pick zip code

In [461]:
#Check unique value
unique_values = ch_df['Pick Zip'].unique()
print(unique_values)

['04103' '04101']

In [462]:
#Replace 04101 => 04103
ch_df['Pick Zip'] = np.where(ch_df['Pick Zip'] == '04101', '04103', ch_df['Pick Zip'])

In [463]:
#Check unique value
unique_values = ch_df['Pick Zip'].unique()
print(unique_values)

['04103']

Create shipping route details

In [464]:
# Group by Pick Zip and Drop Zip
pick_drop_df = (ch_df.
                groupby(['Pick Zip', 'Drop Zip', 'Pick State', 'Drop State'])
                .size().
                reset_index()
                .drop(columns=[0])  # Drop the count column
            )   

# Show the first 15 rows of the grouped data (just the groups themselves)
pick_drop_df.head(10)

  Pick Zip Drop Zip Pick State Drop State
0    04103    02745         ME         MA
1    04103    02817         ME         RI
2    04103    03304         ME         NH
3    04103    05759         ME         VT
4    04103    06477         ME         CT
5    04103    06516         ME         CT
6    04103    07072         ME         NJ
7    04103    07094         ME         NJ
8    04103    07663         ME         NJ
9    04103    07869         ME         NJ

In [465]:
#Check duplicate
# Check for duplicates in 'Pick Zip' and 'Drop Zip' combinations
duplicates = pick_drop_df[pick_drop_df.duplicated(subset=['Pick Zip', 'Drop Zip'], keep=False)]

duplicates.head()

Empty DataFrame
Columns: [Pick Zip, Drop Zip, Pick State, Drop State]
Index: []

Import region master

In [466]:
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\us census bureau regions and divisions.csv'
US_region_df = pd.read_csv(file_path)

US_region_df.head()

        State State Code Region            Division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific

In [ ]:
# Merge
pick_drop_df = pick_drop_df.merge(
    US_region_df[['State Code', 'Region', 'Division']],
    left_on=['Pick State'],
    right_on=['State Code'],
    how='left'  # Use 'left' join to keep all rows in air_df
)

# Rename the column 
pick_drop_df.rename(columns={'Region': 'pick_region', 'Division': 'pick_division'}, inplace=True)

# Drop unnecessary column, remove column, drop column, delete column
pick_drop_df.drop(columns=['State Code'], inplace=True)

pick_drop_df.head()

  Pick Zip Drop Zip Pick State Drop State pick_region pick_division
0    04103    02745         ME         MA   Northeast   New England
1    04103    02817         ME         RI   Northeast   New England
2    04103    03304         ME         NH   Northeast   New England
3    04103    05759         ME         VT   Northeast   New England
4    04103    06477         ME         CT   Northeast   New England

In [468]:
# Merge air_df with county_df on the County and State columns
pick_drop_df = pick_drop_df.merge(
    US_region_df[['State Code', 'Region', 'Division']],
    left_on=['Drop State'],
    right_on=['State Code'],
    how='left'  # Use 'left' join to keep all rows in air_df
)

# Rename the column 
pick_drop_df.rename(columns={'Region': 'drop_region', 'Division': 'drop_division'}, inplace=True)

# # Drop unnecessary WTI Date column, remove column
pick_drop_df.drop(columns=['State Code'], inplace=True)

pick_drop_df.head()

,Pick Zip,Drop Zip,Pick State,Drop State,pick_region,pick_division,drop_region,drop_division
0,04103,02745,ME,MA,Northeast,New England,Northeast,New England
1,04103,02817,ME,RI,Northeast,New England,Northeast,New England
2,04103,03304,ME,NH,Northeast,New England,Northeast,New England
3,04103,05759,ME,VT,Northeast,New England,Northeast,New England
4,04103,06477,ME,CT,Northeast,New England,Northeast,New England

Get Latitude, longitude and distance from google API

In [469]:
# from datetime import datetime, timedelta

# # Enable Geocoding API and Google Maps Distance Matrix API


# # Initialize Google Maps client with your API key
# gmaps = googlemaps.Client(key=google_API)

# # Get tomorrow's date and set the time to 10:00 AM
# tomorrow_10am = (datetime.now() + timedelta(days=1)).replace(hour=10, minute=0, second=0, microsecond=0)

# def get_route_details(pick_zip, drop_zip):
#     try:
#         # Get coordinates for the zip codes using geocoding
#         pick_location = gmaps.geocode(pick_zip)
#         drop_location = gmaps.geocode(drop_zip)
        
#         # Check if geocoding returned a result
#         if not pick_location or not drop_location:
#             return {
#                 "pickup_lat": None,
#                 "pickup_lng": None,
#                 "dropoff_lat": None,
#                 "dropoff_lng": None,
#                 "distance": None
#             }
        
#         # Extract latitude and longitude
#         pick_lat = pick_location[0]['geometry']['location']['lat']
#         pick_lng = pick_location[0]['geometry']['location']['lng']
#         drop_lat = drop_location[0]['geometry']['location']['lat']
#         drop_lng = drop_location[0]['geometry']['location']['lng']
        
#         # Get directions between the pick and drop locations
#         directions = gmaps.directions(
#             origin=(pick_lat, pick_lng),
#             destination=(drop_lat, drop_lng),
#             mode="driving",
#             departure_time=tomorrow_10am
#         )
        
#         # Extract distance from directions result
#         if directions:
#             route_distance = directions[0]['legs'][0]['distance']['text']
#         else:
#             route_distance = None
        
#         return {
#             "pickup_lat": pick_lat,
#             "pickup_lng": pick_lng,
#             "dropoff_lat": drop_lat,
#             "dropoff_lng": drop_lng,
#             "distance": route_distance
#         }

#     except googlemaps.exceptions.ApiError as e:
#         return {
#             "pickup_lat": None,
#             "pickup_lng": None,
#             "dropoff_lat": None,
#             "dropoff_lng": None,
#             "distance": f"API error: {e}"
#         }
#     except Exception as e:
#         return {
#             "pickup_lat": None,
#             "pickup_lng": None,
#             "dropoff_lat": None,
#             "dropoff_lng": None,
#             "distance": f"Unexpected error: {e}"
#         }

In [470]:
# #test 1 example
# # Example: Get distance between two zip codes
# pick_zip = '04103'  # Example pick zip code
# drop_zip = '30360'  # Example drop zip code

# detail = get_route_details(pick_zip, drop_zip)
# print(f"Detail between {pick_zip} and {drop_zip}: {detail}")

In [471]:
# #2 minutes
# # get route information
# pick_drop_df[['pickup_lat', 'pickup_lng', 'dropoff_lat', 'dropoff_lng', 'route_distance_mile']] = pick_drop_df.apply(
#     lambda row: pd.Series(get_route_details(row['Pick Zip'], row['Drop Zip'])), axis=1
# )

# #remove ' mi' => integer
# pick_drop_df['route_distance_mile'] = pick_drop_df['route_distance_mile'].str.replace(r' mi|,', '', regex=True).astype(float)

In [472]:
# # Generate csv, #export csv
# # Specify the full path and file name
# file_path = r"C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\pick_drop_df.xlsx"

# # Export DataFrame to Excel
# pick_drop_df.to_excel(file_path, index=False)

Import distance

In [473]:
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\pick_drop_df.xlsx'
pick_drop_df = pd.read_excel(file_path, sheet_name='Sheet1', dtype={'Pick Zip': str, 'Drop Zip': str})

pick_drop_df.head()

,Pick Zip,Drop Zip,Pick State,Drop State,Count,pick_region,pick_division,drop_region,drop_division,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,route_distance_mile
0,04103,02745,ME,MA,2,Northeast,New England,Northeast,New England,43.689205,-70.272004,41.692094,-70.942791,161
1,04103,02817,ME,RI,20,Northeast,New England,Northeast,New England,43.689205,-70.272004,41.626908,-71.643603,185
2,04103,03304,ME,NH,1,Northeast,New England,Northeast,New England,43.689205,-70.272004,43.133663,-71.548656,111
3,04103,05759,ME,VT,27,Northeast,New England,Northeast,New England,43.689205,-70.272004,43.536711,-72.957868,201
4,04103,06477,ME,CT,28,Northeast,New England,Northeast,New England,43.689205,-70.272004,41.273124,-73.028721,243

In [474]:
# Merge air_df with county_df on the County and State columns
ch_df = ch_df.merge(
    pick_drop_df[['Pick Zip', 'Drop Zip', 'route_distance_mile', 'pickup_lat', 'pickup_lng', 'dropoff_lat', 'dropoff_lng', 
                  'drop_region', 'drop_division']],
    left_on=['Pick Zip', 'Drop Zip'],
    right_on=['Pick Zip', 'Drop Zip'],
    how='left'  # Use 'left' join to keep all rows in air_df
)

# Display the first few rows of the resulting DataFrame
ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,16.000000,4500.00,2168.34,3084,43.689205,-70.272004,33.993047,-118.153228,West,Pacific
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,19.000000,2548.99,820.40,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,14.805517,2652.24,641.90,952,43.689205,-70.272004,35.129056,-80.953947,South,South Atlantic
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,18.097931,3700.00,NaN,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,17.394943,3452.46,782.60,1074,43.689205,-70.272004,32.926649,-79.885682,South,South Atlantic

Check NaN values

In [475]:
#Check null columns
null_columns = ch_df.columns[ch_df.isnull().any()].tolist()
null_columns

['Ref: Billto', 'Linehaul/ Shipment', 'Fuel/ Shipment']

In [476]:
test_df = ch_df[ch_df['Linehaul/ Shipment'].isnull()]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
323,2023-06-12,437898588,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,220478/6518105,...,16.0,NaN,NaN,1074,43.689205,-70.272004,32.926649,-79.885682,South,South Atlantic

In [477]:
test_df = ch_df[ch_df['Ref: Billto'].astype(str).str.contains('220478', na=False)]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
323,2023-06-12,437898588,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,220478/6518105,...,16.0,NaN,NaN,1074,43.689205,-70.272004,32.926649,-79.885682,South,South Atlantic
325,2023-06-12,438493769,TRUCK (TEMP CONTROLLED),Portland,ME,04103,CHARLESTON,SC,29492,220478,...,19.0,1792.64,573.65,1074,43.689205,-70.272004,32.926649,-79.885682,South,South Atlantic

In [478]:
test_df = ch_df[ch_df['Ref: Billto'].astype(str).str.contains('6518105', na=False)]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
323,2023-06-12,437898588,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,220478/6518105,...,16.0,NaN,NaN,1074,43.689205,-70.272004,32.926649,-79.885682,South,South Atlantic
333,2023-06-14,438496912,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Piedmont,SC,29673,ABC0531G/COLA | 6518105 / 5086171,...,11.0,2172.89,624.8,1065,43.689205,-70.272004,34.738967,-82.453611,South,South Atlantic

In [479]:
#Remove NaN row because the Ref: Billto 220478/6518105 are in other shipments
ch_df = ch_df.dropna(subset=['Linehaul/ Shipment'])

In [480]:
#Check null columns
null_columns = ch_df.columns[ch_df.isnull().any()].tolist()
null_columns

['Ref: Billto', 'Fuel/ Shipment']

In [481]:
test_df = ch_df[ch_df['Fuel/ Shipment'].isnull()]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,18.097931,3700.00,NaN,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
1000,2024-07-02,480117523,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0702A,...,20.000000,1008.89,NaN,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1089,2024-08-21,485632404,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Camp Hill,PA,17011,17061048/AL082024,...,13.000000,1875.00,NaN,498,43.689205,-70.272004,40.225718,-76.929735,Northeast,Middle Atlantic
1187,2024-10-23,492865573,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL101124CR,...,17.000000,1010.00,NaN,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1205,2024-10-31,494451873,LTL (DRY),Portland,ME,04103,Upper Marlboro,MD,20772,ALL102124,...,2.000000,490.00,NaN,539,43.689205,-70.272004,38.792295,-76.756737,South,South Atlantic
1236,2024-11-18,495989564,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL110424CR,...,15.000000,1010.00,NaN,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1305,2024-12-30,500170009,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,NEW PALTZ,NY,12561,470380/JVCNY1223A,...,16.000000,1625.00,NaN,323,43.689205,-70.272004,41.731890,-74.100504,Northeast,Middle Atlantic

Replacing NaN in Fuel/ Shipment

In [482]:
test_df = ch_df[(ch_df['Drop Zip'] == '30360') & (ch_df['Ship Date'] < '2023-01-31')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,19.000000,2548.99,820.4,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,18.097931,3700.00,NaN,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
7,2023-01-04,422084848,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44715,...,19.360000,2150.00,820.4,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
36,2023-01-17,423276192,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,45466,...,20.000000,2265.48,820.4,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic

In [483]:
#30360
# Filter data before grouping
filtered_df = ch_df[(ch_df['Drop Zip'] == '30360') & (ch_df['Ship Date'] < '2023-01-31')]

# Calculate the average 'Fuel/ Shipment' for 'Drop Zip' 30360
avg_fuel_shipment = filtered_df['Fuel/ Shipment'].mean()

# Deduct the same avg_fuel amount from 'Linehaul/ Shipment' where 'Drop Zip' is 30360 and 'Fuel/ Shipment' was NaN
ch_df.loc[(ch_df['Drop Zip'] == '30360') & (test_df['Fuel/ Shipment'].isnull()), 'Linehaul/ Shipment'] -= avg_fuel_shipment

# Fill NaN values in 'Fuel/ Shipment' where 'Drop Zip' is 30360 with the calculated average
ch_df.loc[(ch_df['Drop Zip'] == '30360') & (ch_df['Fuel/ Shipment'].isnull()), 'Fuel/ Shipment'] = avg_fuel_shipment

In [484]:
test_df = ch_df[(ch_df['Drop Zip'] == '30360') & (ch_df['Ship Date'] < '2023-01-31')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,19.000000,2548.99,820.4,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,18.097931,2879.60,820.4,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
7,2023-01-04,422084848,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44715,...,19.360000,2150.00,820.4,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic
36,2023-01-17,423276192,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,45466,...,20.000000,2265.48,820.4,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic

In [485]:
#Check null, NanN
test_df = ch_df[ch_df['Fuel/ Shipment'].isnull()]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1000,2024-07-02,480117523,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0702A,...,20.0,1008.89,NaN,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1089,2024-08-21,485632404,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Camp Hill,PA,17011,17061048/AL082024,...,13.0,1875.00,NaN,498,43.689205,-70.272004,40.225718,-76.929735,Northeast,Middle Atlantic
1187,2024-10-23,492865573,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL101124CR,...,17.0,1010.00,NaN,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1205,2024-10-31,494451873,LTL (DRY),Portland,ME,04103,Upper Marlboro,MD,20772,ALL102124,...,2.0,490.00,NaN,539,43.689205,-70.272004,38.792295,-76.756737,South,South Atlantic
1236,2024-11-18,495989564,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL110424CR,...,15.0,1010.00,NaN,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1305,2024-12-30,500170009,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,NEW PALTZ,NY,12561,470380/JVCNY1223A,...,16.0,1625.00,NaN,323,43.689205,-70.272004,41.731890,-74.100504,Northeast,Middle Atlantic

In [486]:
v_zipcode = '07094'
test_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-07-31')
                & (ch_df['Ship Date'] >= '2024-07-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
995,2024-07-01,480053246,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0701A,...,19.0,863.91,173.25,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1000,2024-07-02,480117523,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0702A,...,20.0,1008.89,NaN,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1007,2024-07-08,480976628,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0708A,...,19.0,847.79,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1013,2024-07-10,480977723,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0710A1,...,20.0,847.79,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1021,2024-07-15,481666260,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0715A,...,20.0,742.83,179.55,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1035,2024-07-22,482489812,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0722A,...,18.0,944.11,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1044,2024-07-24,482493361,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0724A1,...,20.0,906.88,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic

In [487]:
# Filter data before grouping
filtered_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-07-31')
                & (ch_df['Ship Date'] >= '2024-07-01')]

# Calculate the average 'Fuel/ Shipment' for 'Drop Zip' 30360
avg_fuel_shipment = filtered_df['Fuel/ Shipment'].mean()

# Deduct the same avg_fuel amount from 'Linehaul/ Shipment' where 'Drop Zip' is 30360 and 'Fuel/ Shipment' was NaN
ch_df.loc[(ch_df['Drop Zip'] == v_zipcode) & (test_df['Fuel/ Shipment'].isnull()), 'Linehaul/ Shipment'] -= avg_fuel_shipment

# Fill NaN values in 'Fuel/ Shipment' where 'Drop Zip' is 30360 with the calculated average
ch_df.loc[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Fuel/ Shipment'].isnull()), 'Fuel/ Shipment'] = avg_fuel_shipment

In [488]:
test_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-07-31')
                & (ch_df['Ship Date'] >= '2024-07-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
995,2024-07-01,480053246,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0701A,...,19.0,863.91,173.25,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1000,2024-07-02,480117523,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0702A,...,20.0,832.49,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1007,2024-07-08,480976628,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0708A,...,19.0,847.79,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1013,2024-07-10,480977723,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0710A1,...,20.0,847.79,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1021,2024-07-15,481666260,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0715A,...,20.0,742.83,179.55,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1035,2024-07-22,482489812,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0722A,...,18.0,944.11,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic
1044,2024-07-24,482493361,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Secaucus,NJ,07094,JVUBD0724A1,...,20.0,906.88,176.40,320,43.689205,-70.272004,40.782392,-74.071136,Northeast,Middle Atlantic

In [489]:
test_df = ch_df[ch_df['Fuel/ Shipment'].isnull()]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1089,2024-08-21,485632404,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Camp Hill,PA,17011,17061048/AL082024,...,13.0,1875.0,NaN,498,43.689205,-70.272004,40.225718,-76.929735,Northeast,Middle Atlantic
1187,2024-10-23,492865573,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL101124CR,...,17.0,1010.0,NaN,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1205,2024-10-31,494451873,LTL (DRY),Portland,ME,04103,Upper Marlboro,MD,20772,ALL102124,...,2.0,490.0,NaN,539,43.689205,-70.272004,38.792295,-76.756737,South,South Atlantic
1236,2024-11-18,495989564,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL110424CR,...,15.0,1010.0,NaN,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1305,2024-12-30,500170009,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,NEW PALTZ,NY,12561,470380/JVCNY1223A,...,16.0,1625.0,NaN,323,43.689205,-70.272004,41.731890,-74.100504,Northeast,Middle Atlantic

In [490]:
v_zipcode = '08852'
test_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-12-30')
                & (ch_df['Ship Date'] >= '2024-03-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
792,2024-03-20,468364712,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08852,AL031224CR-2,...,19.0,841.59,213.60,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
804,2024-03-26,469104489,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08852,AL031224CR,...,12.0,870.28,213.60,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
867,2024-04-25,472211566,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08852,AL04162024CR,...,15.0,795.89,209.40,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
998,2024-07-01,480056851,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08852,AL062024CR,...,19.0,908.22,195.80,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1047,2024-07-24,482497026,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08852,AL07122024CR,...,15.0,924.93,199.36,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1092,2024-08-22,485628624,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08852,AL080924CR,...,18.0,941.03,192.24,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1147,2024-10-01,490251646,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Monmouth Junction,NJ,08852,AL091724KP/AL091824CR,...,20.0,1350.33,195.50,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1187,2024-10-23,492865573,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL101124CR,...,17.0,1010.00,NaN,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1236,2024-11-18,495989564,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL110424CR,...,15.0,1010.00,NaN,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1284,2024-12-16,499214278,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08852,AL120224CR,...,17.0,750.00,173.46,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic

In [491]:
# Filter data before grouping
filtered_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-12-30')
                & (ch_df['Ship Date'] >= '2024-10-01')]

# Calculate the average 'Fuel/ Shipment' for 'Drop Zip' 30360
avg_fuel_shipment = filtered_df['Fuel/ Shipment'].mean()

# Deduct the same avg_fuel amount from 'Linehaul/ Shipment' where 'Drop Zip' is 30360 and 'Fuel/ Shipment' was NaN
ch_df.loc[(ch_df['Drop Zip'] == v_zipcode) & (test_df['Fuel/ Shipment'].isnull()), 'Linehaul/ Shipment'] -= avg_fuel_shipment

# Fill NaN values in 'Fuel/ Shipment' where 'Drop Zip' is 30360 with the calculated average
ch_df.loc[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Fuel/ Shipment'].isnull()), 'Fuel/ Shipment'] = avg_fuel_shipment

In [492]:
test_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-12-30')
                & (ch_df['Ship Date'] >= '2024-10-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1147,2024-10-01,490251646,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Monmouth Junction,NJ,08852,AL091724KP/AL091824CR,...,20.0,1350.33,195.50,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1187,2024-10-23,492865573,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL101124CR,...,17.0,825.52,184.48,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1236,2024-11-18,495989564,TRUCK (DRY),Portland,ME,04103,Monmouth Junction,NJ,08852,AL110424CR,...,15.0,825.52,184.48,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic
1284,2024-12-16,499214278,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Monmouth Junction,NJ,08852,AL120224CR,...,17.0,750.00,173.46,358,43.689205,-70.272004,40.391301,-74.540469,Northeast,Middle Atlantic

In [493]:
v_zipcode = '17011'
test_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-09-30')
                & (ch_df['Ship Date'] >= '2024-07-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1015,2024-07-11,480847123,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Camp Hill,PA,17011,061724/ALA-P-070824-01,...,19.0,2240.31,287.28,498,43.689205,-70.272004,40.225718,-76.929735,Northeast,Middle Atlantic
1089,2024-08-21,485632404,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Camp Hill,PA,17011,17061048/AL082024,...,13.0,1875.00,NaN,498,43.689205,-70.272004,40.225718,-76.929735,Northeast,Middle Atlantic

In [494]:
# Filter data before grouping
filtered_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-09-30')
                & (ch_df['Ship Date'] >= '2024-07-01')]

# Calculate the average 'Fuel/ Shipment' for 'Drop Zip' 
avg_fuel_shipment = filtered_df['Fuel/ Shipment'].mean()

# Deduct the same avg_fuel amount from 'Linehaul/ Shipment' and 'Fuel/ Shipment' was NaN
ch_df.loc[(ch_df['Drop Zip'] == v_zipcode) & (test_df['Fuel/ Shipment'].isnull()), 'Linehaul/ Shipment'] -= avg_fuel_shipment

# Fill NaN values in 'Fuel/ Shipment' with the calculated average
ch_df.loc[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Fuel/ Shipment'].isnull()), 'Fuel/ Shipment'] = avg_fuel_shipment

In [495]:
test_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-09-30')
                & (ch_df['Ship Date'] >= '2024-07-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1015,2024-07-11,480847123,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Camp Hill,PA,17011,061724/ALA-P-070824-01,...,19.0,2240.31,287.28,498,43.689205,-70.272004,40.225718,-76.929735,Northeast,Middle Atlantic
1089,2024-08-21,485632404,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Camp Hill,PA,17011,17061048/AL082024,...,13.0,1587.72,287.28,498,43.689205,-70.272004,40.225718,-76.929735,Northeast,Middle Atlantic

In [496]:
#Check null, NanN
test_df = ch_df[ch_df['Fuel/ Shipment'].isnull()]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1205,2024-10-31,494451873,LTL (DRY),Portland,ME,04103,Upper Marlboro,MD,20772,ALL102124,...,2.0,490.0,NaN,539,43.689205,-70.272004,38.792295,-76.756737,South,South Atlantic
1305,2024-12-30,500170009,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,NEW PALTZ,NY,12561,470380/JVCNY1223A,...,16.0,1625.0,NaN,323,43.689205,-70.272004,41.731890,-74.100504,Northeast,Middle Atlantic

In [497]:
v_zipcode = '12561'
test_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-12-31')
                & (ch_df['Ship Date'] >= '2024-12-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1295,2024-12-19,499216518,TRUCK (TEMP CONTROLLED),Portland,ME,04103,NEW PALTZ,NY,12561,JVCNY122024,...,13.0,1061.19,142.59,323,43.689205,-70.272004,41.73189,-74.100504,Northeast,Middle Atlantic
1305,2024-12-30,500170009,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,NEW PALTZ,NY,12561,470380/JVCNY1223A,...,16.0,1625.00,NaN,323,43.689205,-70.272004,41.73189,-74.100504,Northeast,Middle Atlantic

In [498]:
# Filter data before grouping
filtered_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-12-31')
                & (ch_df['Ship Date'] >= '2024-12-01')]

# Calculate the average 'Fuel/ Shipment' for 'Drop Zip' 
avg_fuel_shipment = filtered_df['Fuel/ Shipment'].mean()

# Adding 10% because multiple stop
avg_fuel_shipment = avg_fuel_shipment * 1.10  

# Deduct the same avg_fuel amount from 'Linehaul/ Shipment' and 'Fuel/ Shipment' was NaN
ch_df.loc[(ch_df['Drop Zip'] == v_zipcode) & (test_df['Fuel/ Shipment'].isnull()), 'Linehaul/ Shipment'] -= avg_fuel_shipment

# Fill NaN values in 'Fuel/ Shipment' with the calculated average
ch_df.loc[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Fuel/ Shipment'].isnull()), 'Fuel/ Shipment'] = avg_fuel_shipment

In [499]:
test_df = ch_df[(ch_df['Drop Zip'] == v_zipcode) & (ch_df['Ship Date'] <= '2024-12-31')
                & (ch_df['Ship Date'] >= '2024-12-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1295,2024-12-19,499216518,TRUCK (TEMP CONTROLLED),Portland,ME,04103,NEW PALTZ,NY,12561,JVCNY122024,...,13.0,1061.190,142.590,323,43.689205,-70.272004,41.73189,-74.100504,Northeast,Middle Atlantic
1305,2024-12-30,500170009,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,NEW PALTZ,NY,12561,470380/JVCNY1223A,...,16.0,1468.151,156.849,323,43.689205,-70.272004,41.73189,-74.100504,Northeast,Middle Atlantic

In [500]:
#Check null, NanN
test_df = ch_df[ch_df['Fuel/ Shipment'].isnull()]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1205,2024-10-31,494451873,LTL (DRY),Portland,ME,04103,Upper Marlboro,MD,20772,ALL102124,...,2.0,490.0,NaN,539,43.689205,-70.272004,38.792295,-76.756737,South,South Atlantic

In [501]:
v_zipcode = '20772'

test_df = ch_df[(ch_df['Drop State'] == 'MD') & 
                (ch_df['Mode (Load Execution)'] == 'LTL (DRY)') &
                (ch_df['Ship Date'] <= '2024-12-31') &
                (ch_df['Ship Date'] >= '2024-10-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1173,2024-10-16,491861283,LTL (DRY),Portland,ME,04103,Salisbury,MD,21804,17763622,...,1.0,315.55,65.33,545,43.689205,-70.272004,38.317738,-75.550960,South,South Atlantic
1174,2024-10-16,491863032,LTL (DRY),Portland,ME,04103,Leonardtown,MD,20650,GUYA10224,...,2.0,461.74,99.07,594,43.689205,-70.272004,38.239446,-76.618166,South,South Atlantic
1205,2024-10-31,494451873,LTL (DRY),Portland,ME,04103,Upper Marlboro,MD,20772,ALL102124,...,2.0,490.00,NaN,539,43.689205,-70.272004,38.792295,-76.756737,South,South Atlantic
1220,2024-11-07,494458921,LTL (DRY),Portland,ME,04103,Easton,MD,21601,19104811,...,2.0,347.99,68.89,514,43.689205,-70.272004,38.774210,-76.076404,South,South Atlantic
1228,2024-11-13,495838254,LTL (DRY),Portland,ME,04103,Easton,MD,21601,KEL111324,...,1.0,180.89,35.87,514,43.689205,-70.272004,38.774210,-76.076404,South,South Atlantic
1306,2024-12-30,500767352,LTL (DRY),Portland,ME,04103,Easton,MD,21601,20261418,...,2.0,394.52,68.25,514,43.689205,-70.272004,38.774210,-76.076404,South,South Atlantic

In [502]:
#Assume 20772 = 21804
fuel_shipment = ch_df[ch_df['Primary Load Number'] == 491861283]['Fuel/ Shipment'].iloc[0]


# Deduct the same avg_fuel amount from 'Linehaul/ Shipment' and 'Fuel/ Shipment' was NaN
ch_df.loc[(ch_df['Primary Load Number'] == 494451873) & (ch_df['Fuel/ Shipment'].isnull()), 'Linehaul/ Shipment'] -= fuel_shipment

# Fill NaN values in 'Fuel/ Shipment' with the calculated average
ch_df.loc[(ch_df['Primary Load Number'] == 494451873) & (ch_df['Fuel/ Shipment'].isnull()), 'Fuel/ Shipment'] = fuel_shipment

In [503]:
test_df = ch_df[(ch_df['Drop State'] == 'MD') & 
                (ch_df['Mode (Load Execution)'] == 'LTL (DRY)') &
                (ch_df['Ship Date'] <= '2024-12-31') &
                (ch_df['Ship Date'] >= '2024-10-01')]
test_df

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Pallets,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division
1173,2024-10-16,491861283,LTL (DRY),Portland,ME,04103,Salisbury,MD,21804,17763622,...,1.0,315.55,65.33,545,43.689205,-70.272004,38.317738,-75.550960,South,South Atlantic
1174,2024-10-16,491863032,LTL (DRY),Portland,ME,04103,Leonardtown,MD,20650,GUYA10224,...,2.0,461.74,99.07,594,43.689205,-70.272004,38.239446,-76.618166,South,South Atlantic
1205,2024-10-31,494451873,LTL (DRY),Portland,ME,04103,Upper Marlboro,MD,20772,ALL102124,...,2.0,424.67,65.33,539,43.689205,-70.272004,38.792295,-76.756737,South,South Atlantic
1220,2024-11-07,494458921,LTL (DRY),Portland,ME,04103,Easton,MD,21601,19104811,...,2.0,347.99,68.89,514,43.689205,-70.272004,38.774210,-76.076404,South,South Atlantic
1228,2024-11-13,495838254,LTL (DRY),Portland,ME,04103,Easton,MD,21601,KEL111324,...,1.0,180.89,35.87,514,43.689205,-70.272004,38.774210,-76.076404,South,South Atlantic
1306,2024-12-30,500767352,LTL (DRY),Portland,ME,04103,Easton,MD,21601,20261418,...,2.0,394.52,68.25,514,43.689205,-70.272004,38.774210,-76.076404,South,South Atlantic

Add Truck_type

In [504]:
#Check unique value
unique_values = ch_df['Mode (Load Execution)'].unique()
print(unique_values)

['TRUCK (TEMP CONTROLLED)' 'TRUCK (TEMP CONTROLLED) - MULTI STOP'
 'LTL (DRY)' 'TRUCK (DRY)' 'TRUCK (DRY) - MULTISTOP']

In [505]:
# Define mapping for truck types
mapping = {
    'TRUCK (TEMP CONTROLLED)': 'Truck',
    'TRUCK (TEMP CONTROLLED) - MULTI STOP': 'Truck',
    'TRUCK (DRY)': 'Truck',
    'TRUCK (DRY) - MULTISTOP': 'Truck',
    'LTL (DRY)': 'LTL'
}

# Create the new column 'truck_type'
ch_df['truck_type'] = ch_df['Mode (Load Execution)'].map(mapping)

# Display the updated DataFrame
ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Linehaul/ Shipment,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division,truck_type
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,4500.00,2168.34,3084,43.689205,-70.272004,33.993047,-118.153228,West,Pacific,Truck
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,2548.99,820.40,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic,Truck
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,2652.24,641.90,952,43.689205,-70.272004,35.129056,-80.953947,South,South Atlantic,Truck
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,2879.60,820.40,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic,Truck
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,3452.46,782.60,1074,43.689205,-70.272004,32.926649,-79.885682,South,South Atlantic,Truck

Add Refrigerator flag

In [506]:
# Define mapping for truck types
mapping = {
    'TRUCK (TEMP CONTROLLED)': 'Reefer',
    'TRUCK (TEMP CONTROLLED) - MULTI STOP': 'Reefer',
    'TRUCK (DRY)': 'Dry',
    'TRUCK (DRY) - MULTISTOP': 'Dry',
    'LTL (DRY)': 'Dry'
}

# Create the new column 'truck_type'
ch_df['fridge_flag'] = ch_df['Mode (Load Execution)'].map(mapping)

# Display the updated DataFrame
ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Fuel/ Shipment,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division,truck_type,fridge_flag
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,2168.34,3084,43.689205,-70.272004,33.993047,-118.153228,West,Pacific,Truck,Reefer
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,820.40,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic,Truck,Reefer
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,641.90,952,43.689205,-70.272004,35.129056,-80.953947,South,South Atlantic,Truck,Reefer
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,820.40,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic,Truck,Reefer
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,782.60,1074,43.689205,-70.272004,32.926649,-79.885682,South,South Atlantic,Truck,Reefer

Add multistop

In [507]:
# Define mapping for truck types
mapping = {
    'TRUCK (TEMP CONTROLLED)': 'Direct',
    'TRUCK (TEMP CONTROLLED) - MULTI STOP': 'Multistop',
    'TRUCK (DRY)': 'Direct',
    'TRUCK (DRY) - MULTISTOP': 'Multistop',
    'LTL (DRY)': 'Direct'
}

# Create the new column 'truck_type'
ch_df['multistop_flag'] = ch_df['Mode (Load Execution)'].map(mapping)

# Display the updated DataFrame
ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,route_distance_mile,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,drop_region,drop_division,truck_type,fridge_flag,multistop_flag
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,3084,43.689205,-70.272004,33.993047,-118.153228,West,Pacific,Truck,Reefer,Direct
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic,Truck,Reefer,Direct
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,952,43.689205,-70.272004,35.129056,-80.953947,South,South Atlantic,Truck,Reefer,Direct
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,1191,43.689205,-70.272004,33.936899,-84.275283,South,South Atlantic,Truck,Reefer,Direct
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,1074,43.689205,-70.272004,32.926649,-79.885682,South,South Atlantic,Truck,Reefer,Multistop

- Add Day of week
- Week number of the year
- Previous Week number of the year

In [508]:
# Create the 'day_of_week' column (0=Monday, 6=Sunday)
ch_df['day_of_week'] = ch_df['Ship Date'].dt.dayofweek

# Create the 'day_of_week' column with abbreviated day names (Mon, Tue, ...)
ch_df['day_of_week_text'] = ch_df['Ship Date'].dt.strftime('%a')

ch_df['year'] = ch_df['Ship Date'].dt.year

# Get the week number of the year
ch_df['week_number'] = ch_df['Ship Date'].dt.isocalendar().week  
ch_df['ISO_year'] = ch_df['Ship Date'].dt.isocalendar().year

ch_df['prev_week_number'] = (ch_df['Ship Date'] - pd.Timedelta(days=7)).dt.isocalendar().week
ch_df['prev_ISO_year'] = (ch_df['Ship Date'] - pd.Timedelta(days=7)).dt.isocalendar().year

# Display the updated DataFrame
ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,truck_type,fridge_flag,multistop_flag,day_of_week,day_of_week_text,year,week_number,ISO_year,prev_week_number,prev_ISO_year
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,Truck,Reefer,Direct,0,Mon,2023,1,2023,52,2022
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,Truck,Reefer,Direct,0,Mon,2023,1,2023,52,2022
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,Truck,Reefer,Direct,1,Tue,2023,1,2023,52,2022
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,Truck,Reefer,Direct,1,Tue,2023,1,2023,52,2022
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,Truck,Reefer,Multistop,1,Tue,2023,1,2023,52,2022

Add seasons

In [509]:
def get_us_astronomical_season(date=None):
    """Determines the astronomical season in the United States based on equinoxes and solstices."""
    
    if date is None:
        date = datetime.utcnow()  # Use current UTC date if no input is provided

    year = date.year

    # Get the astronomical season change dates (UTC-based)
    spring = ephem.localtime(ephem.next_spring_equinox(str(year)))  # Around March 19-21
    summer = ephem.localtime(ephem.next_summer_solstice(str(year)))  # Around June 20-22
    autumn = ephem.localtime(ephem.next_autumn_equinox(str(year)))  # Around September 21-24
    winter = ephem.localtime(ephem.next_winter_solstice(str(year)))  # Around December 20-23

    # Determine the season based on the date
    if spring <= date < summer:
        return "Spring"
    elif summer <= date < autumn:
        return "Summer"
    elif autumn <= date < winter:
        return "Fall"
    else:
        return "Winter"

In [510]:
# get season
ch_df['season'] = ch_df['Ship Date'].apply(get_us_astronomical_season)
ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,fridge_flag,multistop_flag,day_of_week,day_of_week_text,year,week_number,ISO_year,prev_week_number,prev_ISO_year,season
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,Reefer,Direct,0,Mon,2023,1,2023,52,2022,Winter
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,Reefer,Direct,0,Mon,2023,1,2023,52,2022,Winter
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,Reefer,Direct,1,Tue,2023,1,2023,52,2022,Winter
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,Reefer,Direct,1,Tue,2023,1,2023,52,2022,Winter
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,Reefer,Multistop,1,Tue,2023,1,2023,52,2022,Winter

Add Calculation variables

In [ ]:
ch_df['total_freight_cost'] = ch_df['Linehaul/ Shipment'] + ch_df['Fuel/ Shipment']

ch_df['total_freight_cost_per_pound'] = ch_df['total_freight_cost'] / ch_df['Weight']
ch_df['Linehaul_per_pound'] = ch_df['Linehaul/ Shipment'] / ch_df['Weight']
ch_df['Fuel_per_pound'] = ch_df['Fuel/ Shipment'] / ch_df['Weight']

ch_df['total_freight_cost_per_mile'] = ch_df['total_freight_cost'] / ch_df['route_distance_mile']
ch_df['Linehaul_per_mile'] = ch_df['Linehaul/ Shipment'] / ch_df['route_distance_mile']
ch_df['Fuel_per_mile'] = ch_df['Fuel/ Shipment'] / ch_df['route_distance_mile']

#Assume maximum capacity 43,500 lbs.
max_capacity = 43500
ch_df['weight_capacity'] = ch_df['Weight'] / max_capacity

ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,prev_ISO_year,season,total_freight_cost,total_freight_cost_per_pound,Linehaul_per_pound,Fuel_per_pound,total_freight_cost_per_mile,Linehaul_per_mile,Fuel_per_mile,weight_capacity
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,2022,Winter,6668.34,0.168879,0.113964,0.054914,2.162237,1.459144,0.703093,0.877467
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,2022,Winter,3369.39,0.082490,0.062405,0.020085,2.829043,2.140210,0.688833,0.907689
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,2022,Winter,3294.14,0.102296,0.082363,0.019934,3.460231,2.785966,0.674265,0.715600
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,2022,Winter,3700.00,0.093997,0.073155,0.020842,3.106633,2.417800,0.688833,0.874733
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,2022,Winter,4235.06,0.111938,0.091253,0.020685,3.943259,3.214581,0.728678,0.840756

In [512]:
# Create the new column 'weight_capacity_over90%' using numpy.where
ch_df['weight_capacity_over90%'] = np.where(ch_df['weight_capacity'] <= 0.9, 0, 1)
ch_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,season,total_freight_cost,total_freight_cost_per_pound,Linehaul_per_pound,Fuel_per_pound,total_freight_cost_per_mile,Linehaul_per_mile,Fuel_per_mile,weight_capacity,weight_capacity_over90%
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,Winter,6668.34,0.168879,0.113964,0.054914,2.162237,1.459144,0.703093,0.877467,0
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,Winter,3369.39,0.082490,0.062405,0.020085,2.829043,2.140210,0.688833,0.907689,1
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,Winter,3294.14,0.102296,0.082363,0.019934,3.460231,2.785966,0.674265,0.715600,0
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,Winter,3700.00,0.093997,0.073155,0.020842,3.106633,2.417800,0.688833,0.874733,0
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,Winter,4235.06,0.111938,0.091253,0.020685,3.943259,3.214581,0.728678,0.840756,0

In [513]:
ch_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1331 entries, 0 to 1331
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ship Date                     1331 non-null   datetime64[ns]
 1   Primary Load Number           1331 non-null   int64
 2   Mode (Load Execution)         1331 non-null   object
 3   Pick City                     1331 non-null   object
 4   Pick State                    1331 non-null   object
 5   Pick Zip                      1331 non-null   object
 6   Drop City                     1331 non-null   object
 7   Drop State                    1331 non-null   object
 8   Drop Zip                      1331 non-null   object
 9   Ref: Billto                   1330 non-null   object
 10  Weight                        1331 non-null   float64
 11  Pallets                       1331 non-null   float64
 12  Linehaul/ Shipment            1331 non-null   float64
 13  Fuel/ Shipment                1331 non-null   float64
 14  route_distance_mile           1331 non-null   int64
 15  pickup_lat                    1331 non-null   float64
 16  pickup_lng                    1331 non-null   float64
 17  dropoff_lat                   1331 non-null   float64
 18  dropoff_lng                   1331 non-null   float64
 19  drop_region                   1331 non-null   object
 20  drop_division                 1331 non-null   object
 21  truck_type                    1331 non-null   object
 22  fridge_flag                   1331 non-null   object
 23  multistop_flag                1331 non-null   object
 24  day_of_week                   1331 non-null   int32
 25  day_of_week_text              1331 non-null   object
 26  year                          1331 non-null   int32
 27  week_number                   1331 non-null   UInt32
 28  ISO_year                      1331 non-null   UInt32
 29  prev_week_number              1331 non-null   UInt32
 30  prev_ISO_year                 1331 non-null   UInt32
 31  season                        1331 non-null   object
 32  total_freight_cost            1331 non-null   float64
 33  total_freight_cost_per_pound  1331 non-null   float64
 34  Linehaul_per_pound            1331 non-null   float64
 35  Fuel_per_pound                1331 non-null   float64
 36  total_freight_cost_per_mile   1331 non-null   float64
 37  Linehaul_per_mile             1331 non-null   float64
 38  Fuel_per_mile                 1331 non-null   float64
 39  weight_capacity               1331 non-null   float64
 40  weight_capacity_over90%       1331 non-null   int32
dtypes: UInt32(4), datetime64[ns](1), float64(16), int32(3), int64(2), object(15)
memory usage: 437.8+ KB

Create waypoint detail along the routes

In [514]:
# #test
# Northeast_route_df = pick_drop_df[pick_drop_df['Drop State'] == 'RI']
# Northeast_route_df.info()

In [515]:
# Northeast_route_df = pick_drop_df[pick_drop_df['drop_region'] == 'Northeast']
# Northeast_route_df.info()

In [516]:
gmaps = googlemaps.Client(key=google_API)

# Get tomorrow's date and set the time to 10:00 AM
tomorrow_10am = (datetime.now() + timedelta(days=1)).replace(hour=10, minute=0, second=0, microsecond=0)

def get_route_waypoints(pickup_lat, pickup_lng, dropoff_lat, dropoff_lng, pick_zip, drop_zip):
    """
    Retrieves route waypoints with durations from the Google Maps Directions API.

    Args:
        google_API: Your Google Maps API key.
        pickup_lat: Pickup latitude.
        pickup_lng: Pickup longitude.
        dropoff_lat: Dropoff latitude.
        dropoff_lng: Dropoff longitude.
        pick_zip: Pickup zip code.
        drop_zip: Dropoff zip code.

    Returns:
        A list of dictionaries, where each dictionary represents a waypoint
        and contains its information (zip code, latitude, longitude, duration).
        Returns an empty list if there's an API error or no directions are found.
    """
    
    try:
        directions = gmaps.directions(
            origin=(pickup_lat, pickup_lng),
            destination=(dropoff_lat, dropoff_lng),
            mode="driving",
            departure_time=tomorrow_10am,
            traffic_model="pessimistic"
        )

        if not directions:
            return []

        waypoints_list = []
        sequence = 0

        # Initial waypoint (pickup) - Get initial duration here!
        first_leg = directions[0]['legs'][0]
        initial_duration = first_leg['steps'][0]['duration']['value']

        waypoints_list.append({
            "Pick Zip": pick_zip,
            "Drop Zip": drop_zip,
            "Sequence": sequence,
            "Waypoint Zip": pick_zip,
            "Waypoint Lat": pickup_lat,
            "Waypoint Lng": pickup_lng,
            "Duration_s_pessimistic": initial_duration
        })
        sequence += 1

        # Iterate through steps (starting from the SECOND step)
        for leg in directions[0]['legs']:
            for step in leg['steps'][1:]: 
                lat = step['start_location']['lat']
                lng = step['start_location']['lng']
                duration = step['duration']['value']

                # Optimized reverse geocoding (only retrieve postal_code)
                result = gmaps.reverse_geocode((lat, lng), result_type="postal_code")
                zip_code = None
                if result:
                    for component in result[0].get('address_components', []):
                        if "postal_code" in component['types']:
                            zip_code = component['long_name']
                            break

                waypoints_list.append({
                    "Pick Zip": pick_zip,
                    "Drop Zip": drop_zip,
                    "Sequence": sequence,
                    "Waypoint Zip": zip_code,  # Could be None
                    "Waypoint Lat": lat,
                    "Waypoint Lng": lng,
                    "Duration_s_pessimistic": duration
                })
                sequence += 1

        # Final waypoint (dropoff)
        waypoints_list.append({
            "Pick Zip": pick_zip,
            "Drop Zip": drop_zip,
            "Sequence": sequence,
            "Waypoint Zip": drop_zip,
            "Waypoint Lat": dropoff_lat,
            "Waypoint Lng": dropoff_lng,
            "Duration_s_pessimistic": 0
        })

        return waypoints_list

    except googlemaps.exceptions.ApiError as e:
        print(f"API error occurred: {e}")
        return []
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return []

In [517]:
# #2 minutes
# # Create an empty list to collect all waypoints
# all_waypoints = []

# # Apply the function to each row and extend the list
# for index, row in Northeast_route_df.iterrows():
#     route_waypoints = get_route_waypoints(
#         row['pickup_lat'], row['pickup_lng'], row['dropoff_lat'], row['dropoff_lng'],
#         row['Pick Zip'], row['Drop Zip']
#     )
#     all_waypoints.extend(route_waypoints)  # Add waypoints to the list

# # Convert collected waypoints into a DataFrame
# waypoints_detail_df = pd.DataFrame(all_waypoints)

# waypoints_detail_df.head()

In [518]:
# #% Duration
# # Calculate total duration for each (Pick Zip, Drop Zip) trip
# total_duration_per_trip = waypoints_detail_df.groupby(["Pick Zip", "Drop Zip"])["Duration_s_pessimistic"].transform("sum")

# # Compute percentage duration for each waypoint within its trip
# waypoints_detail_df["%Duration_pessimistic"] = (waypoints_detail_df["Duration_s_pessimistic"] / total_duration_per_trip)

In [519]:
# waypoints_detail_df.head()

Get nearest active station

In [520]:
def get_nearest_active_station(lat, lon):
    """
    Fetches the nearest active weather station ID along with its latitude & longitude 
    for a given latitude & longitude.

    A station is considered active if its `daily_end` year is equal to the current year.

    Args:
        lat (float): Latitude of the location.
        lon (float): Longitude of the location.

    Returns:
        tuple: (station_id, station_lat, station_lon) or (None, None, None) if no active station is found.
    """
    stations = Stations()
    nearest_stations = stations.nearby(lat, lon).fetch(20)  # Fetch 20 closest stations
    
    # Get the current year
    current_year = datetime.today().year

    # Convert `daily_end` to datetime and filter only stations with `daily_end` in this year
    nearest_stations['daily_end'] = pd.to_datetime(nearest_stations['daily_end']).dt.date
    active_stations = nearest_stations[nearest_stations['daily_end'].apply(lambda x: x.year) == current_year]

    if not active_stations.empty:
        nearest_station = active_stations.iloc[0]  # Get the first (nearest) active station
        return nearest_station.name, nearest_station['latitude'], nearest_station['longitude']  # Return ID, Lat, Lon
    
    return None, None, None  # No active station found

In [521]:
# #20 seconds
# waypoints_detail_df.loc[:, ['Nearest_Station', 'station_lat', 'station_lng']] = waypoints_detail_df.apply(
#     lambda row: get_nearest_active_station(row.loc['Waypoint Lat'], row.loc['Waypoint Lng']), axis=1, result_type="expand"
# ).rename(columns={0: "Nearest_Station",
#                  1: "station_lat",
#                  2: "station_lng"})

In [522]:
# waypoints_detail_df.head()

In [523]:
# waypoints_detail_df.info()

In [524]:
# # Generate csv, #export csv
# # Specify the full path and file name
# file_path = r"C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\waypoints_detail_df.xlsx"

# # Export DataFrame to Excel
# waypoints_detail_df.to_excel(file_path, index=False)

Import waypoints_detail_df instead of getting from Google API

In [525]:
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\waypoints_detail_df.xlsx'
waypoints_detail_df = pd.read_excel(file_path, dtype={'Pick Zip': str, 'Drop Zip': str, 'Waypoint Zip': str, 'Nearest_Station': str})

waypoints_detail_df.head()

,Pick Zip,Drop Zip,Sequence,Waypoint Zip,Waypoint Lat,Waypoint Lng,Duration_s_pessimistic,%Duration_pessimistic,Nearest_Station,station_lat,station_lng
0,04103,02745,0,04103,43.689205,-70.272004,18,0.001902,72606,43.65,-70.1333
1,04103,02745,1,04103,43.688767,-70.272323,25,0.002642,72606,43.65,-70.1333
2,04103,02745,2,04103,43.688104,-70.271100,15,0.001585,72606,43.65,-70.1333
3,04103,02745,3,04103,43.687620,-70.271636,208,0.021978,72606,43.65,-70.1333
4,04103,02745,4,04103,43.680229,-70.257689,482,0.050930,72606,43.65,-70.1333

Create route detail by shipping

In [526]:
#filter cool route lanes
Northeast_shipped_ch_df = ch_df[(ch_df['drop_region'] == 'Northeast') &
                   (ch_df['season'] != 'Summer')][['Ship Date', 'Primary Load Number', 'Pick Zip', 'Drop Zip']]

Northeast_shipped_ch_df.head(10)

    Ship Date  Primary Load Number Pick Zip Drop Zip
8  2023-01-04            422085152    04103    06516
10 2023-01-04            422086530    04103    08889
12 2023-01-05            422087105    04103    02817
13 2023-01-05            422088160    04103    06477
14 2023-01-05            422088748    04103    07094
15 2023-01-05            422089231    04103    05759
16 2023-01-05            422094900    04103    17011
21 2023-01-10            422641626    04103    15203
24 2023-01-11            422635634    04103    19154
25 2023-01-11            422636346    04103    08889

In [527]:
# Merge air_df with county_df on the County and State columns
Northeast_shipped_ch_df = Northeast_shipped_ch_df.merge(
    waypoints_detail_df[['Pick Zip', 'Drop Zip', 'Sequence', 'Waypoint Zip', 'Waypoint Lat', 'Waypoint Lng', 'Duration_s_pessimistic', '%Duration_pessimistic', 'Nearest_Station', 'station_lat', 'station_lng']],
    left_on=['Pick Zip', 'Drop Zip'],
    right_on=['Pick Zip', 'Drop Zip'],
    how='left'  # Use 'left' join to keep all rows in air_df
)

Northeast_shipped_ch_df.head()

,Ship Date,Primary Load Number,Pick Zip,Drop Zip,Sequence,Waypoint Zip,Waypoint Lat,Waypoint Lng,Duration_s_pessimistic,%Duration_pessimistic,Nearest_Station,station_lat,station_lng
0,2023-01-04,422085152,04103,06516,0,04103,43.689205,-70.272004,18,0.001332,72606,43.65,-70.1333
1,2023-01-04,422085152,04103,06516,1,04103,43.688767,-70.272323,25,0.001850,72606,43.65,-70.1333
2,2023-01-04,422085152,04103,06516,2,04103,43.688104,-70.271100,15,0.001110,72606,43.65,-70.1333
3,2023-01-04,422085152,04103,06516,3,04103,43.687620,-70.271636,208,0.015388,72606,43.65,-70.1333
4,2023-01-04,422085152,04103,06516,4,04103,43.680229,-70.257689,482,0.035659,72606,43.65,-70.1333

In [528]:
# Northeast_shipped_ch_df.info()

In [529]:
# Function to fetch high and low temperatures
def get_meteostat_temperature(nearest_station, date_obj):
    """
    Retrieves weather data (temperature, precipitation, snowfall, wind speed, etc.)
    from Meteostat for a given station ID and date.

    Args:
        nearest_station (str): The ID of the nearest station.
        date_obj (str or datetime.date): Date for which to retrieve data.

    Returns:
        tuple: (
            high_temp_f, low_temp_f, precipitation_in, snowfall_in,
            wind_speed_mph, wind_gust_mph
        ) with NaN values replaced by 0.
    """
    try:
        # 1. Date Handling
        if isinstance(date_obj, str):
            date_obj = pd.to_datetime(date_obj).date()
        elif not isinstance(date_obj, date):
            raise TypeError("date_obj must be a string or datetime.date object")

        # 2. Fetch Data Using Station ID
        start_date = end_date = datetime.combine(date_obj, datetime.min.time())
        data = Daily(nearest_station, start_date, end_date).fetch()

        # 3. Handle Empty or Missing Data
        if data.empty or not all(col in data.columns for col in ["tmax", "tmin", "prcp", "snow", "wspd", "wpgt"]):
            print(f"No or incomplete weather data for station {nearest_station}, date={date_obj}")
            return 0, 0, 0, 0, 0, 0  # Replace NaN with 0

        # 4. Extract Data, Convert Units & Replace NaN with 0
        high_temp_f      = (data["tmax"].iloc[0] * 9/5 + 32) if pd.notna(data["tmax"].iloc[0]) else 0
        low_temp_f       = (data["tmin"].iloc[0] * 9/5 + 32) if pd.notna(data["tmin"].iloc[0]) else 0
        precipitation_in = (data["prcp"].iloc[0] / 25.4) if pd.notna(data["prcp"].iloc[0]) else 0
        snowfall_in      = (data["snow"].iloc[0] / 25.4) if pd.notna(data["snow"].iloc[0]) else 0
        wind_speed_mph   = (data["wspd"].iloc[0] / 1.609) if pd.notna(data["wspd"].iloc[0]) else 0
        wind_gust_mph    = (data["wpgt"].iloc[0] / 1.609) if pd.notna(data["wpgt"].iloc[0]) else 0

        # Return Rounded Data
        return tuple(round(val, 2) for val in 
                     (high_temp_f, low_temp_f, precipitation_in, snowfall_in, wind_speed_mph, wind_gust_mph))

    except (ValueError, TypeError) as e:
        print(f"Error: Invalid input: {e}")
        return 0, 0, 0, 0, 0, 0  # Replace errors with 0s

    except Exception as e:
        print(f"Unexpected error fetching data: {e}")
        return 0, 0, 0, 0, 0, 0  # Handle unexpected errors

In [530]:
# #2 minutes
# # Apply the function and expand the tuple into multiple columns
# Northeast_shipped_ch_df.loc[:, ['High_Temp_F', 'Low_Temp_F', 'precipitation_in', 'snowfall_in', 
#          'wind_speed_mph', 'wind_gust_mph']] = \
#     Northeast_shipped_ch_df.apply(lambda row: get_meteostat_temperature(row.loc['Nearest_Station'], row.loc['Ship Date']), axis=1, result_type="expand"
# ).rename(columns={0: "High_Temp_F",
#                  1: "Low_Temp_F",
#                  2: "precipitation_in",
#                  3: "snowfall_in",
#                  4: "wind_speed_mph",
#                  5: "wind_gust_mph"})

In [531]:
# Northeast_shipped_ch_df.head()

In [532]:
Northeast_shipped_ch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17997 entries, 0 to 17996
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ship Date               17997 non-null  datetime64[ns]
 1   Primary Load Number     17997 non-null  int64
 2   Pick Zip                17997 non-null  object
 3   Drop Zip                17997 non-null  object
 4   Sequence                17997 non-null  int64
 5   Waypoint Zip            17997 non-null  object
 6   Waypoint Lat            17997 non-null  float64
 7   Waypoint Lng            17997 non-null  float64
 8   Duration_s_pessimistic  17997 non-null  int64
 9   %Duration_pessimistic   17997 non-null  float64
 10  Nearest_Station         17997 non-null  object
 11  station_lat             17997 non-null  float64
 12  station_lng             17997 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(3), object(4)
memory usage: 1.8+ MB

Classify temperature conditions

In [533]:
def classify_temp(row):
    if 40 <= row['High_Temp_F'] <= 60 and 40 <= row['Low_Temp_F'] <= 60:
        return 'Perfect'  # Perfect condition FIRST

    elif row['High_Temp_F'] > 65 or row['Low_Temp_F'] > 65:
        return '65+'

    elif 60 < row['High_Temp_F'] <= 65 or 60 < row['Low_Temp_F'] <= 65:
        return '60-65'  # Now this is more accurate

    elif 35 <= row['High_Temp_F'] < 40 or 35 <= row['Low_Temp_F'] < 40:
        return '35-40'

    else:
        return '35-'

Classify wind speed conditions

In [534]:
def classify_wind_speed(row):
    if row['wind_speed_mph'] > 50:
        return 'Very Strong Wind'
    
    elif 31 <= row['wind_speed_mph'] <= 50:
        return 'Strong Wind'
    
    elif 16 <= row['wind_speed_mph'] <= 30:
        return 'Moderate Wind'
    
    elif 0 <= row['wind_speed_mph'] <= 15:  # Explicitly include 0
        return 'Light Wind'
    
    else:  # This now catches negative or other unexpected values
        return 'Unknown'  # For missing or non-standard data

Classify wind gusts conditions

In [535]:
def classify_wind_gust(row):
    if row['wind_gust_mph'] > 50:
        return 'Very Strong Wind'
    
    elif 31 <= row['wind_gust_mph'] <= 50:
        return 'Strong Wind'
    
    elif 16 <= row['wind_gust_mph'] <= 30:
        return 'Moderate Wind'
    
    elif 0 <= row['wind_gust_mph'] <= 15:  # Explicitly include 0
        return 'Light Wind'
    
    else:  # This now catches negative or other unexpected values
        return 'Unknown'  # For missing or non-standard data

In [536]:
# # Apply the function to classify temperature for each row
# Northeast_shipped_ch_df['temp_condition'] = Northeast_shipped_ch_df.apply(classify_temp, axis=1)
# Northeast_shipped_ch_df['wind_speed_condition'] = Northeast_shipped_ch_df.apply(classify_wind_speed, axis=1)
# Northeast_shipped_ch_df['wind_gust_condition'] = Northeast_shipped_ch_df.apply(classify_wind_gust, axis=1)

In [537]:
# Northeast_shipped_ch_df.head()

In [538]:
# # Generate csv, #export csv
# # Specify the full path and file name
# file_path = r"C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\Northeast_shipped_ch_df.xlsx"

# # Export DataFrame to Excel
# Northeast_shipped_ch_df.to_excel(file_path, index=False)

Import northeast shipped waypoints

In [14]:
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\Northeast_shipped_ch_df.xlsx'
Northeast_shipped_ch_df = pd.read_excel(file_path, sheet_name='Sheet1', dtype={'Pick Zip': str, 'Drop Zip': str, 'Waypoint Zip': str, 'Nearest_Station': str})

Northeast_shipped_ch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17997 entries, 0 to 17996
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ship Date               17997 non-null  datetime64[ns]
 1   Primary Load Number     17997 non-null  int64
 2   Pick Zip                17997 non-null  object
 3   Drop Zip                17997 non-null  object
 4   Sequence                17997 non-null  int64
 5   Waypoint Zip            17997 non-null  object
 6   Waypoint Lat            17997 non-null  float64
 7   Waypoint Lng            17997 non-null  float64
 8   Duration_s_pessimistic  17997 non-null  int64
 9   %Duration_pessimistic   17997 non-null  float64
 10  Nearest_Station         17997 non-null  object
 11  station_lat             17997 non-null  float64
 12  station_lng             17997 non-null  float64
 13  High_Temp_F             17997 non-null  float64
 14  Low_Temp_F              17997 non-null  float64
 15  precipitation_in        17997 non-null  float64
 16  snowfall_in             17997 non-null  float64
 17  wind_speed_mph          17997 non-null  float64
 18  wind_gust_mph           17997 non-null  float64
 19  temp_condition          17997 non-null  object
 20  wind_speed_condition    17997 non-null  object
 21  wind_gust_condition     17997 non-null  object
dtypes: datetime64[ns](1), float64(11), int64(3), object(7)
memory usage: 3.0+ MB

Import Deisel retial price (Dollars per Gallon)

In [540]:
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\psw18vwall diesel price.xlsx'
deisel_df = pd.read_excel(file_path, sheet_name='Data 1', skiprows=2, usecols=[0, 1], header=0)

# Rename the column 
deisel_df.rename(columns={'Weekly U.S. No 2 Diesel Retail Prices  (Dollars per Gallon)': 'deisel_price'}, inplace=True)

# Get the week number of the year
deisel_df['deisel_week_number'] = deisel_df['Date'].dt.isocalendar().week 

deisel_df['deisel_ISO_year'] = deisel_df['Date'].dt.isocalendar().year

deisel_df.head()

        Date  deisel_price  deisel_week_number  deisel_ISO_year
0 1994-03-21         1.106                  12             1994
1 1994-03-28         1.107                  13             1994
2 1994-04-04         1.109                  14             1994
3 1994-04-11         1.108                  15             1994
4 1994-04-18         1.105                  16             1994

In [541]:
deisel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612 entries, 0 to 1611
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1612 non-null   datetime64[ns]
 1   deisel_price        1612 non-null   float64
 2   deisel_week_number  1612 non-null   UInt32
 3   deisel_ISO_year     1612 non-null   UInt32
dtypes: UInt32(2), datetime64[ns](1), float64(1)
memory usage: 41.1 KB

Create average deisel price by week number for each year

In [542]:
# Group by Year and Week Number, then calculate the average deisel price
weekly_deisel_df = deisel_df.groupby(['deisel_ISO_year', 'deisel_week_number'])['deisel_price'].mean().reset_index()

# Rename column for clarity
weekly_deisel_df.rename(columns={'deisel_price': 'avg_deisel_price'}, inplace=True)

# Display result
weekly_deisel_df.head()

   deisel_ISO_year  deisel_week_number  avg_deisel_price
0             1994                  12             1.106
1             1994                  13             1.107
2             1994                  14             1.109
3             1994                  15             1.108
4             1994                  16             1.105

Import load-to-truck ratio

In [543]:
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\data-yPyLE Loar to truck ratio.csv'
load2truck_temp = pd.read_csv(file_path)

# Convert 'Week Starting' to datetime format, automatically detect the format
load2truck_temp['Week Starting'] = pd.to_datetime(load2truck_temp['Week Starting'], errors='coerce')

# Extract year and week number from the 'Week Starting' column
load2truck_temp['L2T_ISO_year'] = load2truck_temp['Week Starting'].dt.isocalendar().year
load2truck_temp['L2T_week_number'] = load2truck_temp['Week Starting'].dt.isocalendar().week

# Rename column for clarity
load2truck_temp.rename(columns={'Dry van': 'Dry'}, inplace=True)

load2truck_temp.head(10)

UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.

  Week Starting   Dry  Reefer  Flatbed  L2T_ISO_year  L2T_week_number
0    2018-01-07  7.00   14.86    45.90          2018                1
1    2018-01-14  5.71   11.17    45.07          2018                2
2    2018-01-21  4.60    8.84    46.03          2018                3
3    2018-01-28  3.67    6.90    53.26          2018                4
4    2018-02-04  3.94    7.17    54.70          2018                5
5    2018-02-11  4.33    7.35    62.59          2018                6
6    2018-02-18  3.77    6.47    63.65          2018                7
7    2018-02-25  4.39    8.11    75.21          2018                8
8    2018-03-04  4.15    7.78    84.19          2018                9
9    2018-03-11  4.19    7.76    84.16          2018               10

In [544]:
load2truck_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Week Starting    367 non-null    datetime64[ns]
 1   Dry              367 non-null    float64
 2   Reefer           367 non-null    float64
 3   Flatbed          367 non-null    float64
 4   L2T_ISO_year     367 non-null    UInt32
 5   L2T_week_number  367 non-null    UInt32
dtypes: UInt32(2), datetime64[ns](1), float64(3)
memory usage: 15.2 KB

In [545]:
# Convert the data from wide format to long format
load2truck_df = pd.melt(
    load2truck_temp,
    id_vars=['Week Starting', 'L2T_ISO_year', 'L2T_week_number'],
    value_vars=['Dry', 'Reefer', 'Flatbed'],
    var_name='truck_mode', 
    value_name='load2truck_ratio'
)

# Convert 'Year' to numeric
load2truck_df['L2T_ISO_year'] = pd.to_numeric(load2truck_df['L2T_ISO_year'], errors='coerce')
load2truck_df['load2truck_ratio'] = pd.to_numeric(load2truck_df['load2truck_ratio'], errors='coerce')

#Drop nou-useful variables
#load2truck_df = load2truck_df.drop(['GeoName', 'Region', 'TableName', 'LineCode', 'IndustryClassification', 'Unit'], axis=1)

# Remove quotes from the GeoFIPS column
# load2truck_df['Description'] = load2truck_df['Description'].str.replace('4/', '')

# # Trim whitespace or specific characters
# load2truck_df['Description'] = load2truck_df['Description'].str.strip()

# Preview the reshaped data
load2truck_df.head(20)

   Week Starting  L2T_ISO_year  L2T_week_number truck_mode  load2truck_ratio
0     2018-01-07          2018                1        Dry              7.00
1     2018-01-14          2018                2        Dry              5.71
2     2018-01-21          2018                3        Dry              4.60
3     2018-01-28          2018                4        Dry              3.67
4     2018-02-04          2018                5        Dry              3.94
5     2018-02-11          2018                6        Dry              4.33
6     2018-02-18          2018                7        Dry              3.77
7     2018-02-25          2018                8        Dry              4.39
8     2018-03-04          2018                9        Dry              4.15
9     2018-03-11          2018               10        Dry              4.19
10    2018-03-18          2018               11        Dry              4.29
11    2018-03-25          2018               12        Dry              4.57
12    2018-04-01          2018               13        Dry              4.53
13    2018-04-08          2018               14        Dry              3.54
14    2018-04-15          2018               15        Dry              3.21
15    2018-04-22          2018               16        Dry              2.99
16    2018-04-29          2018               17        Dry              3.17
17    2018-05-06          2018               18        Dry              3.34
18    2018-05-13          2018               19        Dry              4.13
19    2018-05-20          2018               20        Dry              4.14

Import spot rates

In [546]:
file_path = r'C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\4.4-4.6 Truck Spot Rates.xlsx'
spot_rate_df = pd.read_excel(file_path, sheet_name='Sheet 1', skiprows=1)

spot_rate_df = spot_rate_df[['Date Day Tool Tip', 'truck_mode', 'Rate']]

# Rename for clarity
spot_rate_df.rename(columns={'Date Day Tool Tip': 'Date'}, inplace=True)

# Fill missing Date values using forward fill
spot_rate_df['Date'] = spot_rate_df['Date'].ffill()

# Convert 'Date' to datetime format
spot_rate_df['Date'] = pd.to_datetime(spot_rate_df['Date'], errors='coerce')

# Get the week number of the year
spot_rate_df['sp_week_number'] = spot_rate_df['Date'].dt.isocalendar().week  

spot_rate_df['sp_ISO_year'] = spot_rate_df['Date'].dt.isocalendar().year

# Rename truck_mode values
spot_rate_df['truck_mode'] = spot_rate_df['truck_mode'].replace({
    'Dry Van': 'Dry',
    'Refrigerated': 'Reefer'
})

spot_rate_df.head()

        Date truck_mode   Rate  sp_week_number  sp_ISO_year
0 2017-01-08        Dry  1.455               1         2017
1 2017-01-08   Flatbeds  1.671               1         2017
2 2017-01-08     Reefer  1.722               1         2017
3 2017-01-15        Dry  1.429               2         2017
4 2017-01-15   Flatbeds  1.688               2         2017

All dataframe

In [547]:
all_df = ch_df

Map the last previous WTI price

In [548]:
# Create a new column in ch_df for 'Yesterday Date' (Ship Date - 1 day)
all_df['previous_ship_date'] = all_df['Ship Date'] - pd.Timedelta(days=1)

#Merge as of

# Use merge_asof() to find the last available WTI price before Yesterday Date
all_df = pd.merge_asof(
    all_df,                # Main DataFrame
    deisel_df[['Date', 'deisel_price']],              # WTI Price DataFrame
    left_on=['previous_ship_date'],
    right_on=['Date'],
    direction='backward'  # Get the last available price before Yesterday Date
)

# Rename column for clarity
all_df.rename(columns={'deisel_price': 'yesterday_deisel_price'}, inplace=True)

# # Drop unnecessary column, remove column
all_df.drop(columns=['Date', 'previous_ship_date'], inplace=True)

In [549]:
all_df.head(10)

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,total_freight_cost,total_freight_cost_per_pound,Linehaul_per_pound,Fuel_per_pound,total_freight_cost_per_mile,Linehaul_per_mile,Fuel_per_mile,weight_capacity,weight_capacity_over90%,yesterday_deisel_price
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,6668.34,0.168879,0.113964,0.054914,2.162237,1.459144,0.703093,0.877467,0,4.537
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,3369.39,0.082490,0.062405,0.020085,2.829043,2.140210,0.688833,0.907689,1,4.537
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,3294.14,0.102296,0.082363,0.019934,3.460231,2.785966,0.674265,0.715600,0,4.583
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,3700.00,0.093997,0.073155,0.020842,3.106633,2.417800,0.688833,0.874733,0,4.583
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,4235.06,0.111938,0.091253,0.020685,3.943259,3.214581,0.728678,0.840756,0,4.583
5,2023-01-04,422083081,TRUCK (TEMP CONTROLLED),Portland,ME,04103,DURHAM,NC,27703,47122,...,3157.20,0.103917,0.085577,0.018340,3.956391,3.258145,0.698246,0.675156,0,4.583
6,2023-01-04,422083884,TRUCK (TEMP CONTROLLED),Portland,ME,04103,CHICAGO,IL,60624,1688502,...,2361.40,0.055494,0.038189,0.017306,2.172401,1.494940,0.677461,0.945600,1,4.583
7,2023-01-04,422084848,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44715,...,2970.40,0.070542,0.051059,0.019483,2.494039,1.805206,0.688833,0.935733,1,4.583
8,2023-01-04,422085152,TRUCK (TEMP CONTROLLED),Portland,ME,04103,West Haven,CT,06516,ABR010323,...,1172.03,0.026943,0.023146,0.003798,4.823169,4.143333,0.679835,0.966667,1,4.583
9,2023-01-04,422085820,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,Piedmont,SC,29673,"KWGVL12.14.22 | AL1220 , ALA DECEMBER",...,2875.52,0.081989,0.061531,0.020458,2.700019,2.026310,0.673709,0.779378,0,4.583

Map the previous week's average deisel price

In [550]:
#Merge
all_df = pd.merge(
    all_df,                # Main DataFrame
    weekly_deisel_df[['deisel_ISO_year', 'deisel_week_number', 'avg_deisel_price']],              # WTI Price DataFrame
    left_on=['prev_week_number', 'prev_ISO_year'],
    right_on=['deisel_week_number', 'deisel_ISO_year'],
)

# # Rename column for clarity
all_df.rename(columns={'avg_deisel_price': 'pv_week_avg_deisel_price'}, inplace=True)

# # Drop unnecessary column
all_df.drop(columns=['deisel_ISO_year', 'deisel_week_number'], inplace=True)

In [551]:
all_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,total_freight_cost_per_pound,Linehaul_per_pound,Fuel_per_pound,total_freight_cost_per_mile,Linehaul_per_mile,Fuel_per_mile,weight_capacity,weight_capacity_over90%,yesterday_deisel_price,pv_week_avg_deisel_price
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,0.168879,0.113964,0.054914,2.162237,1.459144,0.703093,0.877467,0,4.537,4.537
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,0.082490,0.062405,0.020085,2.829043,2.140210,0.688833,0.907689,1,4.537,4.537
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,0.102296,0.082363,0.019934,3.460231,2.785966,0.674265,0.715600,0,4.583,4.537
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,0.093997,0.073155,0.020842,3.106633,2.417800,0.688833,0.874733,0,4.583,4.537
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,0.111938,0.091253,0.020685,3.943259,3.214581,0.728678,0.840756,0,4.583,4.537

In [552]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331 entries, 0 to 1330
Data columns (total 43 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ship Date                     1331 non-null   datetime64[ns]
 1   Primary Load Number           1331 non-null   int64
 2   Mode (Load Execution)         1331 non-null   object
 3   Pick City                     1331 non-null   object
 4   Pick State                    1331 non-null   object
 5   Pick Zip                      1331 non-null   object
 6   Drop City                     1331 non-null   object
 7   Drop State                    1331 non-null   object
 8   Drop Zip                      1331 non-null   object
 9   Ref: Billto                   1330 non-null   object
 10  Weight                        1331 non-null   float64
 11  Pallets                       1331 non-null   float64
 12  Linehaul/ Shipment            1331 non-null   float64
 13  Fuel/ Shipment                1331 non-null   float64
 14  route_distance_mile           1331 non-null   int64
 15  pickup_lat                    1331 non-null   float64
 16  pickup_lng                    1331 non-null   float64
 17  dropoff_lat                   1331 non-null   float64
 18  dropoff_lng                   1331 non-null   float64
 19  drop_region                   1331 non-null   object
 20  drop_division                 1331 non-null   object
 21  truck_type                    1331 non-null   object
 22  fridge_flag                   1331 non-null   object
 23  multistop_flag                1331 non-null   object
 24  day_of_week                   1331 non-null   int32
 25  day_of_week_text              1331 non-null   object
 26  year                          1331 non-null   int32
 27  week_number                   1331 non-null   UInt32
 28  ISO_year                      1331 non-null   UInt32
 29  prev_week_number              1331 non-null   UInt32
 30  prev_ISO_year                 1331 non-null   UInt32
 31  season                        1331 non-null   object
 32  total_freight_cost            1331 non-null   float64
 33  total_freight_cost_per_pound  1331 non-null   float64
 34  Linehaul_per_pound            1331 non-null   float64
 35  Fuel_per_pound                1331 non-null   float64
 36  total_freight_cost_per_mile   1331 non-null   float64
 37  Linehaul_per_mile             1331 non-null   float64
 38  Fuel_per_mile                 1331 non-null   float64
 39  weight_capacity               1331 non-null   float64
 40  weight_capacity_over90%       1331 non-null   int32
 41  yesterday_deisel_price        1331 non-null   float64
 42  pv_week_avg_deisel_price      1331 non-null   float64
dtypes: UInt32(4), datetime64[ns](1), float64(18), int32(3), int64(2), object(15)
memory usage: 416.1+ KB

Map the previous week's Load-to_truck ratio

In [553]:
#Merge
all_df = pd.merge(
    all_df,                # Main DataFrame
    load2truck_df[['L2T_ISO_year', 'L2T_week_number', 'truck_mode', 'load2truck_ratio']],              # WTI Price DataFrame
    left_on=['prev_week_number', 'prev_ISO_year', 'fridge_flag'],
    right_on=['L2T_week_number', 'L2T_ISO_year', 'truck_mode'],
)

# Rename column for clarity
all_df.rename(columns={'load2truck_ratio': 'pv_week_load2truck_ratio'}, inplace=True)

# Drop unnecessary WTI Date column
all_df.drop(columns=['L2T_ISO_year', 'L2T_week_number', 'truck_mode'], inplace=True)

all_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Linehaul_per_pound,Fuel_per_pound,total_freight_cost_per_mile,Linehaul_per_mile,Fuel_per_mile,weight_capacity,weight_capacity_over90%,yesterday_deisel_price,pv_week_avg_deisel_price,pv_week_load2truck_ratio
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,0.113964,0.054914,2.162237,1.459144,0.703093,0.877467,0,4.537,4.537,12.18
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,0.062405,0.020085,2.829043,2.140210,0.688833,0.907689,1,4.537,4.537,12.18
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,0.082363,0.019934,3.460231,2.785966,0.674265,0.715600,0,4.583,4.537,12.18
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,0.073155,0.020842,3.106633,2.417800,0.688833,0.874733,0,4.583,4.537,12.18
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,0.091253,0.020685,3.943259,3.214581,0.728678,0.840756,0,4.583,4.537,12.18

In [554]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331 entries, 0 to 1330
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ship Date                     1331 non-null   datetime64[ns]
 1   Primary Load Number           1331 non-null   int64
 2   Mode (Load Execution)         1331 non-null   object
 3   Pick City                     1331 non-null   object
 4   Pick State                    1331 non-null   object
 5   Pick Zip                      1331 non-null   object
 6   Drop City                     1331 non-null   object
 7   Drop State                    1331 non-null   object
 8   Drop Zip                      1331 non-null   object
 9   Ref: Billto                   1330 non-null   object
 10  Weight                        1331 non-null   float64
 11  Pallets                       1331 non-null   float64
 12  Linehaul/ Shipment            1331 non-null   float64
 13  Fuel/ Shipment                1331 non-null   float64
 14  route_distance_mile           1331 non-null   int64
 15  pickup_lat                    1331 non-null   float64
 16  pickup_lng                    1331 non-null   float64
 17  dropoff_lat                   1331 non-null   float64
 18  dropoff_lng                   1331 non-null   float64
 19  drop_region                   1331 non-null   object
 20  drop_division                 1331 non-null   object
 21  truck_type                    1331 non-null   object
 22  fridge_flag                   1331 non-null   object
 23  multistop_flag                1331 non-null   object
 24  day_of_week                   1331 non-null   int32
 25  day_of_week_text              1331 non-null   object
 26  year                          1331 non-null   int32
 27  week_number                   1331 non-null   UInt32
 28  ISO_year                      1331 non-null   UInt32
 29  prev_week_number              1331 non-null   UInt32
 30  prev_ISO_year                 1331 non-null   UInt32
 31  season                        1331 non-null   object
 32  total_freight_cost            1331 non-null   float64
 33  total_freight_cost_per_pound  1331 non-null   float64
 34  Linehaul_per_pound            1331 non-null   float64
 35  Fuel_per_pound                1331 non-null   float64
 36  total_freight_cost_per_mile   1331 non-null   float64
 37  Linehaul_per_mile             1331 non-null   float64
 38  Fuel_per_mile                 1331 non-null   float64
 39  weight_capacity               1331 non-null   float64
 40  weight_capacity_over90%       1331 non-null   int32
 41  yesterday_deisel_price        1331 non-null   float64
 42  pv_week_avg_deisel_price      1331 non-null   float64
 43  pv_week_load2truck_ratio      1331 non-null   float64
dtypes: UInt32(4), datetime64[ns](1), float64(19), int32(3), int64(2), object(15)
memory usage: 426.5+ KB

Holidays flag

In [555]:
# Merge ch_df with holidays_df
all_df = all_df.merge(
    holidays_df[['h_ISO_year', 'h_week_number']], 
    left_on =['ISO_year', 'week_number'], 
    right_on=['h_ISO_year', 'h_week_number'], 
    how='left', 
    indicator=True          #create '_merge' variable
)

# Create holiday_flag (1 if holiday week, 0 otherwise)
all_df['holiday_week_flag'] = (all_df['_merge'] == 'both').astype(int)

# Drop unnecessary columns
all_df.drop(columns=['_merge', 'h_ISO_year', 'h_week_number'], inplace=True)
all_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Fuel_per_pound,total_freight_cost_per_mile,Linehaul_per_mile,Fuel_per_mile,weight_capacity,weight_capacity_over90%,yesterday_deisel_price,pv_week_avg_deisel_price,pv_week_load2truck_ratio,holiday_week_flag
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,0.054914,2.162237,1.459144,0.703093,0.877467,0,4.537,4.537,12.18,1
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,0.020085,2.829043,2.140210,0.688833,0.907689,1,4.537,4.537,12.18,1
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,0.019934,3.460231,2.785966,0.674265,0.715600,0,4.583,4.537,12.18,1
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,0.020842,3.106633,2.417800,0.688833,0.874733,0,4.583,4.537,12.18,1
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,0.020685,3.943259,3.214581,0.728678,0.840756,0,4.583,4.537,12.18,1

Previous week holiday flag

In [556]:
# Merge ch_df with holidays_df
all_df = all_df.merge(
    holidays_df[['h_ISO_year', 'h_week_number']], 
    left_on =['prev_week_number', 'prev_ISO_year'], 
    right_on=['h_week_number', 'h_ISO_year'], 
    how='left', 
    indicator=True          #create '_merge' variable
)

# Create holiday_flag (1 if holiday week, 0 otherwise)
all_df['pv_holiday_week_flag'] = (all_df['_merge'] == 'both').astype(int)

# Drop unnecessary columns
all_df.drop(columns=['_merge', 'h_ISO_year', 'h_week_number'], inplace=True)
all_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,total_freight_cost_per_mile,Linehaul_per_mile,Fuel_per_mile,weight_capacity,weight_capacity_over90%,yesterday_deisel_price,pv_week_avg_deisel_price,pv_week_load2truck_ratio,holiday_week_flag,pv_holiday_week_flag
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,2.162237,1.459144,0.703093,0.877467,0,4.537,4.537,12.18,1,1
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,2.829043,2.140210,0.688833,0.907689,1,4.537,4.537,12.18,1,1
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,3.460231,2.785966,0.674265,0.715600,0,4.583,4.537,12.18,1,1
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,3.106633,2.417800,0.688833,0.874733,0,4.583,4.537,12.18,1,1
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,3.943259,3.214581,0.728678,0.840756,0,4.583,4.537,12.18,1,1

In [557]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331 entries, 0 to 1330
Data columns (total 46 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ship Date                     1331 non-null   datetime64[ns]
 1   Primary Load Number           1331 non-null   int64
 2   Mode (Load Execution)         1331 non-null   object
 3   Pick City                     1331 non-null   object
 4   Pick State                    1331 non-null   object
 5   Pick Zip                      1331 non-null   object
 6   Drop City                     1331 non-null   object
 7   Drop State                    1331 non-null   object
 8   Drop Zip                      1331 non-null   object
 9   Ref: Billto                   1330 non-null   object
 10  Weight                        1331 non-null   float64
 11  Pallets                       1331 non-null   float64
 12  Linehaul/ Shipment            1331 non-null   float64
 13  Fuel/ Shipment                1331 non-null   float64
 14  route_distance_mile           1331 non-null   int64
 15  pickup_lat                    1331 non-null   float64
 16  pickup_lng                    1331 non-null   float64
 17  dropoff_lat                   1331 non-null   float64
 18  dropoff_lng                   1331 non-null   float64
 19  drop_region                   1331 non-null   object
 20  drop_division                 1331 non-null   object
 21  truck_type                    1331 non-null   object
 22  fridge_flag                   1331 non-null   object
 23  multistop_flag                1331 non-null   object
 24  day_of_week                   1331 non-null   int32
 25  day_of_week_text              1331 non-null   object
 26  year                          1331 non-null   int32
 27  week_number                   1331 non-null   UInt32
 28  ISO_year                      1331 non-null   UInt32
 29  prev_week_number              1331 non-null   UInt32
 30  prev_ISO_year                 1331 non-null   UInt32
 31  season                        1331 non-null   object
 32  total_freight_cost            1331 non-null   float64
 33  total_freight_cost_per_pound  1331 non-null   float64
 34  Linehaul_per_pound            1331 non-null   float64
 35  Fuel_per_pound                1331 non-null   float64
 36  total_freight_cost_per_mile   1331 non-null   float64
 37  Linehaul_per_mile             1331 non-null   float64
 38  Fuel_per_mile                 1331 non-null   float64
 39  weight_capacity               1331 non-null   float64
 40  weight_capacity_over90%       1331 non-null   int32
 41  yesterday_deisel_price        1331 non-null   float64
 42  pv_week_avg_deisel_price      1331 non-null   float64
 43  pv_week_load2truck_ratio      1331 non-null   float64
 44  holiday_week_flag             1331 non-null   int32
 45  pv_holiday_week_flag          1331 non-null   int32
dtypes: UInt32(4), datetime64[ns](1), float64(19), int32(5), int64(2), object(15)
memory usage: 436.9+ KB

Merge previous week spot rates

In [558]:
# Merge ch_df with holidays_df
all_df = all_df.merge(
    spot_rate_df[['sp_ISO_year', 'sp_week_number', 'truck_mode', 'Rate']], 
    left_on =['prev_week_number', 'prev_ISO_year', 'fridge_flag'], 
    right_on=['sp_week_number', 'sp_ISO_year', 'truck_mode'], 
    how='left'
)

# Rename column for clarity
all_df.rename(columns={'Rate': 'pv_week_spot_rate'}, inplace=True)

# Drop unnecessary columns
all_df.drop(columns=['truck_mode', 'sp_ISO_year', 'sp_week_number'], inplace=True)
all_df.head()

,Ship Date,Primary Load Number,Mode (Load Execution),Pick City,Pick State,Pick Zip,Drop City,Drop State,Drop Zip,Ref: Billto,...,Linehaul_per_mile,Fuel_per_mile,weight_capacity,weight_capacity_over90%,yesterday_deisel_price,pv_week_avg_deisel_price,pv_week_load2truck_ratio,holiday_week_flag,pv_holiday_week_flag,pv_week_spot_rate
0,2023-01-02,421429203,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Los Angeles,CA,90040,4500146296,...,1.459144,0.703093,0.877467,0,4.537,4.537,12.18,1,1,2.335
1,2023-01-02,422081427,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,44714,...,2.140210,0.688833,0.907689,1,4.537,4.537,12.18,1,1,2.335
2,2023-01-03,422082170,TRUCK (TEMP CONTROLLED),Portland,ME,04103,Charlotte,NC,28273,47121,...,2.785966,0.674265,0.715600,0,4.583,4.537,12.18,1,1,2.335
3,2023-01-03,422091472,TRUCK (TEMP CONTROLLED),Portland,ME,04103,ATLANTA,GA,30360,ALLA1623/45125,...,2.417800,0.688833,0.874733,0,4.583,4.537,12.18,1,1,2.335
4,2023-01-03,422094222,TRUCK (TEMP CONTROLLED) - MULTI STOP,Portland,ME,04103,CHARLESTON,SC,29492,ALG113022/182985,...,3.214581,0.728678,0.840756,0,4.583,4.537,12.18,1,1,2.335

In [559]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331 entries, 0 to 1330
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ship Date                     1331 non-null   datetime64[ns]
 1   Primary Load Number           1331 non-null   int64
 2   Mode (Load Execution)         1331 non-null   object
 3   Pick City                     1331 non-null   object
 4   Pick State                    1331 non-null   object
 5   Pick Zip                      1331 non-null   object
 6   Drop City                     1331 non-null   object
 7   Drop State                    1331 non-null   object
 8   Drop Zip                      1331 non-null   object
 9   Ref: Billto                   1330 non-null   object
 10  Weight                        1331 non-null   float64
 11  Pallets                       1331 non-null   float64
 12  Linehaul/ Shipment            1331 non-null   float64
 13  Fuel/ Shipment                1331 non-null   float64
 14  route_distance_mile           1331 non-null   int64
 15  pickup_lat                    1331 non-null   float64
 16  pickup_lng                    1331 non-null   float64
 17  dropoff_lat                   1331 non-null   float64
 18  dropoff_lng                   1331 non-null   float64
 19  drop_region                   1331 non-null   object
 20  drop_division                 1331 non-null   object
 21  truck_type                    1331 non-null   object
 22  fridge_flag                   1331 non-null   object
 23  multistop_flag                1331 non-null   object
 24  day_of_week                   1331 non-null   int32
 25  day_of_week_text              1331 non-null   object
 26  year                          1331 non-null   int32
 27  week_number                   1331 non-null   UInt32
 28  ISO_year                      1331 non-null   UInt32
 29  prev_week_number              1331 non-null   UInt32
 30  prev_ISO_year                 1331 non-null   UInt32
 31  season                        1331 non-null   object
 32  total_freight_cost            1331 non-null   float64
 33  total_freight_cost_per_pound  1331 non-null   float64
 34  Linehaul_per_pound            1331 non-null   float64
 35  Fuel_per_pound                1331 non-null   float64
 36  total_freight_cost_per_mile   1331 non-null   float64
 37  Linehaul_per_mile             1331 non-null   float64
 38  Fuel_per_mile                 1331 non-null   float64
 39  weight_capacity               1331 non-null   float64
 40  weight_capacity_over90%       1331 non-null   int32
 41  yesterday_deisel_price        1331 non-null   float64
 42  pv_week_avg_deisel_price      1331 non-null   float64
 43  pv_week_load2truck_ratio      1331 non-null   float64
 44  holiday_week_flag             1331 non-null   int32
 45  pv_holiday_week_flag          1331 non-null   int32
 46  pv_week_spot_rate             917 non-null    float64
dtypes: UInt32(4), datetime64[ns](1), float64(20), int32(5), int64(2), object(15)
memory usage: 447.3+ KB

In [561]:
# # Generate csv, #export csv
# # Specify the full path and file name
file_path = r"C:\Users\sumat\OneDrive\Documents\NEU\ALY 6980 Capstone\all_df.xlsx"

# Export DataFrame to Excel
all_df.to_excel(file_path, index=False)